<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
    <h1>Willkommen</h1>
    <p>
        Willkommen auf Ihrer neuen Homepage zur Verfügung gestellt von <a href="{HOSTER_HREF}">{HOSTER_NAME}</a>.
    </p>
    <p>
        Wenn Sie diese Seite sehen können, wurde der Webserver erfolgreich für Sie vorbereitet.
    </p>
    <p>
        Als Nächstes müssen Sie ihren Inhalt zur Webseite hinzufügen.
        Dazu können Sie sich in ihren neuen Webspace unter <a href="{WEBSPACE_LOGIN}">{WEBSPACE_LOGIN}</a> einloggen.
        Löschen oder bearbeiten Sie diese Datei mit dem Namen <code>index.html</code> und beginnen Sie mit dem Bau ihrer neuen Website.
    </p>
    <p>
        Falls Sie Hilfe benötigen, zögern Sie nicht uns unter <a href="mailto:{HOSTER_HELP_EMAIL}">{HOSTER_HELP_EMAIL}</a> zu kontaktieren.
    </p>
    <hr/>
    <h1>Welcome</h1>
    <p>
        Welcome to your new homepage hosted by <a href="{HOSTER_HREF}">{HOSTER_NAME}</a>.
    </p>
    <p>
        If you see this page, the web server was successfully configured for you.
    </p>
    <p>
        You now need to add some content to this website.
        You can login to your new web space at <a href="{WEBSPACE_LOGIN}">{WEBSPACE_LOGIN}</a>.
        Delete or edit this file named <code>index.html</code> and start building your website.
    </p>
    <p>
        In case you need help, do not hesitate to contact us at <a href="mailto:{HOSTER_HELP_EMAIL}">{HOSTER_HELP_EMAIL}</a>.
    </p>
</body>
</html>
